<html>
    <head>
        <title>My first page</title>
    </head>
    <body>
        <header>
            <img width="100px" src="https://developers.google.com/web/progressive-web-apps/images/pwa-lighthouse.png">
            <a href="http://google.ca">First link ever</a>
            <a href="http://lighthouselabs.ca">Second link</a>
            <a href="apply page">
                <button>smol button</button>
            </a>
        </header>
        <section>
            <h1>Big Important Header</h1>
            <h3>smaller less important header</h3>
            <p>First paragraph woo</p>
            <div>
                <p>here's another paragraph after a division woo</p>
                <p>you guessed it more paragraphs</p>
            </div>
        </section>
    </body>
    <main role="main">
        <article class="post">
            <div class="user-info">
                <img width="200px" src="https://i.pinimg.com/736x/7d/94/ef/7d94ef00fec523b7535e04856dc50ebd--illustration-art-art-illustrations.jpg" alt="mik88a">
                <h2>mik88a</h2>
                <h3>15 minutes ago</h3>
            </div>
            <a href="#">
                <img width="200px" src="https://i.pinimg.com/736x/7d/94/ef/7d94ef00fec523b7535e04856dc50ebd--illustration-art-art-illustrations.jpg" alt="post from mik88a">
            </a>
            <div>
                0 likes
                <span>0 comments</span>
            </div>
            <ul>
                <li>
                    <p>
                        mik88la: why does no one like my picture
                    </p>
                </li>
            </ul>
        </article>
    </main>
</html>